<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Front Page</title>
  </head>
  <body>
    <div class="search">
      <label for="searchbox">Search: </label>
      <input type="text" name="searchbox" id="searchbox" />
      <input type="submit" value="Search" id="search-btn" />
    </div>
    <p id="loading"></p>
    <ul id="stream-data"></ul>
  </body>
  <script src="index.js"></script>
</html>
