.btn {
  width: 9vw;
  height: calc(3rem + 1vw);
  border: none;
  background: var(--color-grey-dark-1);
  border-radius: 0.3rem;
  cursor: pointer;
  color: var(--color-grey-light-2);
  font-size: calc(1rem + 0.5vw);
  font-family: var(--font-open);
  font-weight: 800;
  box-shadow: inset 0 0 0 0 var(--color-primary-light-green);
  transition: ease-out 100ms;
  outline: none;

  &:hover {
    box-shadow: inset 9vw 0 0 0 var(--color-primary-light-green);
    color: var(--color-grey-dark-4);
  }
}
