.root {
  width: 100%;
  height: 100%;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-grey-light-1);
  min-width: 100vw;
  min-height: 100vh;
}
.body__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}

.search {
  height: 40rem;
  width: calc(70rem + 10vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search__logo {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: var(--font-open);
  font-size: calc(5rem + 0.5vw);
  background: var(--color-primary-dark-green);
  background: linear-gradient(
    to right,
    var(--color-primary-darkest-green),
    var(--color-primary-lightest-green)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.search__logo__image {
  width: 5.5rem;
}
.search__bar-wrapper {
  position: relative;
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
}
.search__bar-wrapper__bar {
  width: 100%;
  height: 100%;
  border-radius: 8px 0 0 8px;
  border: 1px solid var(--color-grey-dark-3);
  outline: none;
  padding: 1.5rem;
  padding-right: 10rem;
  font-size: 1.6rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.search__bar-wrapper__bar:focus,
.search__bar-wrapper__bar:active {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.search__bar-wrapper__submit-btn {
  width: 6rem;
  height: 100%;
  border-radius: 0 8px 8px 0;
  outline: none;
  border: 1px solid var(--color-grey-dark-3);
  background-color: var(--color-grey-light-1);
  cursor: pointer;
}
.search__bar-wrapper__submit-btn__icon {
  position: absolute;

  right: 2rem;
  top: 30%;
  font-size: 1.7rem;
  z-index: 1;
}
.search__bar-wrapper__submit-btn:hover {
  background-color: var(--color-primary-light-green);
  color: #fff;
}

.are-results {
  border: 1px solid var(--color-grey-dark-1);
}

.results {
  width: calc(20rem + 45vw);
  border-radius: 5px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  background: #fff;
}
.results__item {
  padding: 2rem;
  width: 100%;
  border-bottom: 1px solid var(--color-grey-dark-3);
  color: var(--color-grey-dark-1);
  display: flex;
}
.results__item__cover {
  height: 22rem;
}
.results__item__main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 4rem;
}
.results__item__main-section__heading {
  width: 100%;
}
.results__item__main-section__heading__title {
  font-size: 2.2rem;
  font-weight: 500;
}
.results__item__main-section__heading__author {
  font-size: 1.7rem;
  font-style: italic;
  color: var(--color-primary-darkest-green);
}
.results__item__main-section__info {
  grid-area: info;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.results__item__main-section__info__data {
  font-weight: 800;
}
.results__item__main-section__download {
  grid-area: download;
  margin-top: 1rem;
  width: 20rem;
  height: 5rem;
}

.results__item__main-section__download__btn {
  padding: 1rem;
  width: 20rem;
  height: 100%;
  font-size: calc(1.3rem + 0.3vw);
  text-decoration: none;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.results__item__main-section__download__btn:hover {
  box-shadow: inset 20rem 0 0 0 var(--color-primary-light-green);
}

.username {
  position: absolute;
  top: 3rem;
  right: calc(1rem + 1vw);
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 5fr 1fr;
  /*grid-column-gap: 8px;*/
  /* width: calc(15rem + 0.4vw);*/
  color: var(--color-grey-dark-1);
  cursor: pointer;
}
.username__name {
  justify-self: end;
  font-size: calc(1.3rem + 0.4vw);
  margin-right: 1.2rem;
}
.username__dd-arrow {
  font-size: calc(1.2rem + 0.3vw);
}

.drop-down {
  position: absolute;
  top: calc(5rem + 2vw);
  right: calc(2rem + 1vw);
  width: calc(5rem + 5vw);
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
}
.drop-down__item {
  color: var(--color-grey-dark-1);
  font-size: calc(0.5vw + 1rem);
  font-weight: 600;
  width: 100%;
  position: relative;
  text-align: left;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: white;
  height: calc(1.2rem + 2vw);
  display: flex;
  align-items: center;
  justify-content: center;
}
.drop-down__item__link {
  text-decoration: none;
}
.drop-down__item:hover {
  background-color: var(--color-primary-dark-green);
  color: var(--color-grey-light-1);
}

@media screen and (max-width: 1000px) {
  .search {
    height: 40rem;
    width: calc(10rem + 60vw);
  }

  .search__logo {
    font-size: calc(2rem + 4vw);
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
  .username {
    width: calc(12rem + 1vw);
  }
}

@media screen and (max-width: 750px) {
  .drop-down {
    width: calc(4rem + 5vw);
  }
  .drop-down__item {
    font-size: calc(0.3vw + 1rem);
    height: calc(1rem + 2vw);
  }
}

@media screen and (max-width: 600px) {
  .search__logo {
    justify-content: center;
  }
  .search__logo__image {
    width: 5rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 430px) {
  html {
    font-size: 42%;
  }
}
